*{
  padding: 0px;
  margin: 0px;
  border: 0px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 140px;
  background-color: rgb(172, 167, 167);
}

body { 
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  top: 100px;
  position :absolute fixed;
  background-image: url(C:/Bloc1/docs/td3/assets/images/df-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
 
.box {
  display: flex;
  transform: translateX(110%);
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: beige;
  margin-right: 15px;
  width: 320px;
  height: 130px;
  border-radius: 8px;
  background-color: rgb(228, 118, 29);
  padding: 1em;
  }

.id ="Partie 1" {
  display: flex;
  transform: translateX(110%);
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: beige;
  margin-right: 15px;
  width: 320px;
  height: 130px;
  border-radius: 8px;
  background-color: rgb(228, 118, 29);
  padding: 1em;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 200%; 
  color: beige;
  }

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 200%; 
  color: beige;
   }
  
 h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: beige;
     }
    
 h6 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: beige;
     }

footer {
  background-color: rgb(58, 58, 58) ;
  padding: 0px;
  color: beige; 
  text-align: center;
  margin: 0;
  width: 100%;
  bottom: 0;
  position: fixed;
  }

